body{
    margin: 0px;
    padding: 0px;
}
.option{
    margin: 60px 90px 0 40px;
    width: 150px;
    height: 150px;
    display: inline-block;
}
.option img{
    margin: auto;
}

.option p{
    text-align: center;
}