<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro De Pedidos</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <h1 style="text-align: center; margin-bottom: 50px; margin-top: 30px;'">Cadastro de Pedidos</h1>
    <form action="submit" method="post">{% csrf_token %}
        <div class="row mb-3">
            <div class="col">
                <input type="number" name="numero" class="form-control" placeholder="Pedido">
            </div>
            <div class="col">
                <input type="text" name="observacao" class="form-control" placeholder="Observacão">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <label class="form-label">Data de Recebimento:</label>
                <input type="date" name="dataRecebimento" class="form-control" placeholder="Data de Recebimento">
            </div>
            <div class="col">
                <label class="form-label">Data de Entrega:</label>
                <input type="date" name="dataEntrega" class="form-control" placeholder="Data de Entrega">
            </div>
        </div>
        <div class="row mb-3">
                <div class="col">
                    <button TYPE="submit" class="btn btn-primary">CADASTRAR</button>
                </div>
            </div>
    </form>
</div>
</body>
</html>